<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/airport?autoReconnect=true&amp;useSSL=false"/>
                <property name="username" value="root"/>
                <property name="password" value="27942001Diana"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource ="mybatis/AirlineMapper.xml"/>
        <mapper resource ="mybatis/GateMapper.xml"/>
        <mapper resource ="mybatis/LocationMapper.xml"/>
        <mapper resource ="mybatis/PlaneMapper.xml"/>
        <mapper resource ="mybatis/TerminalMapper.xml"/>
    </mappers>
</configuration>